   
.hero-main{
    position: relative;
    height: 100dvh;
    width: 100%;
    z-index: 3;
    background-image: linear-gradient(80deg, rgb(3, 11, 13, 1) 0%, rgb(3, 11, 13, 0.3) 100%);
    background-position: center;
    background-size: cover;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(80deg, rgba(3, 11, 13, 0.5) 0%, rgba(3, 11, 13, 0.3) 100%), url("../../images/mataRocks-hero.jpg");background-position: center;
        background-size: cover;
  
        z-index: 2;
        &{
            @media(min-width: 992px){
                animation: zoomIn 13s ease-in-out forwards;
            }
        }
    }
    .hero-absolute{
        position: relative;
        max-width: 1500px;
        margin: 0 auto;
        height: 100%;
        text-align: center;

        .absolute-cont{
            position: absolute;
            top: 40%;
            width: 100%;
            //height: 100%;
            left: 0;
            text-align: center;
            z-index: 9999999999;
            padding: 10px;
            &{
                @media(min-width: 768px) and (max-width: 991px){
                    top: 25%;
                }
            }
            &{
                @media(max-width: 767px){
                    top: 15%;
                }
            }
            p{
                font-family: "Baskervville", serif;
                color: #FFD28D;
                font-size: 25px;
                font-style: italic;
                font-weight: 400;
               
               
            }
            h1{
              
                color: #fff;
                font-family: "Baskervville", serif;
                font-style: normal;
                font-weight: 300;
                padding-bottom: 40px;
                font-size: 60px;
                text-transform: uppercase;
                &{
                    @media(min-width: 768px) and (max-width: 991px){
                        font-size: 50px;
                    }
                }
                span{
                    color: #FFD28D;
                    font-family: "Baskervville", serif;
                    font-style: normal;
                    font-weight: 300;
                    padding-bottom: 40px;
                    font-size: 60px;
                    text-transform: uppercase;
                    display: unset;
                    &{
                        @media(min-width: 768px) and (max-width: 991px){
                            font-size: 50px;
                        }
                    }
                    &{
                        @media(max-width: 767px){
                            font-size: 40px;
                        }
                    }
                }
                &{
                    @media(max-width: 767px){
                        font-size: 35px;
                    }
                }
            }
            span{
                color: #FFF;
                font-size: 18px;
                font-family: "Prompt", sans-serif;
                font-weight: 300;
                width: 900px;
                display: block;
                margin: 0 auto;
              
                &{
                    @media(max-width: 991px){
                        width: 100%;
                    }
                }
            }

        }
    }
}

.welcome-main{
    background: #040D10;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    z-index: 99;
    .main-cont{
        text-align: center;
        max-width: 1320px;
        padding: 10px;
        margin: 0 auto;
        span{
            
            color: rgb(255, 210, 141);
            text-decoration: none;
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
           
            text-transform: uppercase;
            letter-spacing: 1px;
            
        }
        h1{
            color: #fff;
            font-family: "Baskervville", sans-serif;
            font-style: normal;
            font-weight: 300;
            padding-bottom: 40px;
            font-size: 60px;
             text-transform: unset;
             span{
                font-size: 60px;
                font-family: "Baskervville", sans-serif;
                @media(max-width: 767px){
                    font-size: 40px;
                }
             }
             &{
                @media(max-width: 767px){
                    font-size: 40px;
                }
            }
        }
        p{
            color: #FFF;
            font-size: 16px;
            font-family: "Prompt", sans-serif;
            font-weight: 300;
           // width: 900px;
            display: block;
            margin: 0 auto;
            opacity: 0.8;
        }
        a{
            color: #fff;
            text-decoration: none;
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
            display: block;
            margin-top: 20px!important;
            text-transform: uppercase;
            letter-spacing: 1px;
            width: fit-content;
            margin: 0 auto;
            border-top: 1px solid rgb(255, 210, 141);
            border-bottom: 1px solid rgb(255, 210, 141);
            padding: 10px;
            
        }
    }
}
.rooms-main{
    background-color: #051114;
   // padding-top: 120px;
    padding-bottom: 80px;
    &{
        @media(max-width: 575px){
            padding-top: 60px;
        }
    }
    .head{
        text-align: center;
        padding: 10px;
        p{
            font-family: "Baskervville", serif;
            color: #FFD28D;
            font-size: 25px;
            font-style: italic;
            font-weight: 400;
        }
        h1{
                color: #FFD28D;
                font-family: "Baskervville", serif;
                font-style: normal;
                font-weight: 300;
                padding-bottom: 40px;
                font-size: 60px;
                &{
                    @media(max-width: 575px){
                        font-size: 40px;
                        padding-bottom: 20px;
                    }
                }
                
        }
    }
    .gallery{
        position: relative;
              #bg-photos {
                  position: absolute;
                  width: 100%;
                  left: 0;
                  top: 162px;
                  height: 90%;
                 // background-image: url("../../images/activites-pine-bg.jpg");
                  background-repeat: no-repeat;
                  background-color: #fff;
                  z-index: -1;
                  @media(max-width: 992px){
                      height: 84%;
                  }
              }

          .image-gallery{
              

              @media(max-width: 1500px) and (min-width: 768px){
                  padding: 5px;
              }
              

              .photos{
                  -webkit-column-count: 4;
                  -moz-column-count: 4;
                  column-count: 4;
                  -webkit-column-gap: 0;
                  -moz-column-gap: 0;
                  column-gap: 0;
                 // line-height: 0;
                  @media(min-width: 630px){
                  //display: inline-flex;
                  }
                  @media(max-width: 992px) and (min-width: 576px){
                      -webkit-column-count: 2;
                      -moz-column-count: 2;
                      column-count: 2;
                  }
                  @media(max-width: 575px){
                      -webkit-column-count: 1;
                      -moz-column-count: 1;
                      column-count: 1;
                  }
                 a{
                  display: block;
                 }
                  .main-content:hover .image-field  img {
                     // transform: scale(1.2);
                  }
                
                   .main-content{
                    //box-shadow: 3px 5px 10px rgb(86 68 169 / 10%);
                  // border-radius: 10px;
                      overflow: hidden;
                      margin-right: 6px;
                      margin-left: 6px;
                      margin-bottom: 12px;
                      z-index: 99999999;
                      background-color: #fff;
                      @media(max-width: 767px){
                         // background-color: #005959;
                          margin-right: 2px;
                          margin-left: 2px;
                          margin-bottom: 4px;
                          z-index: 99999999;
                      }
                      .data-wrapper{
                          position: relative;
                          //margin-bottom: 12px;
                          z-index: 999;
                          &:hover img{
                            -webkit-transform: scale(1.2);
                             transform: scale(1.2);
                            // -webkit-transition: all 0.3s ease-in-out;
                            // transition: all 0.3s ease-in-out;
                          }
                             
                                  .overlay:hover .content
                                  {
                                      @media(max-width: 800px) and (min-width: 427px){
                                      margin-top: 0!important;
                                      z-index: -1;
                                      }
                                      @media(max-width: 426px){
                                          margin-top: 0!important;
                                          z-index: -1;
                                          }
                                      @media(min-width: 801px){
                                          margin-top: 0!important;
                                          z-index: -1;
                                          }
                                    //background-image: linear-gradient(rgba(0, 25, 44,0.6), rgba(0, 25, 44,0.6))!important;
                                  }
                              
                              
                              .estate-type{
                                
                                  @media(min-width: 992px) and (max-width: 1199px){
                                    //  min-height: 465px;
                                  }
                                  @media(max-width: 800px) and (min-width: 427px){
                                      height: 293px;
                                      display: inline-block;
                                  }
                                  @media(max-width: 426px){
                                      height: 260px;
                                      display: inline-block;
                                  }

                                  .image-field{
                                      
                                      position: relative;
                                      img{
                                          height: auto!important;
                                          margin-bottom: 0;
                                          max-height: 500px!important;
                                         min-height: 400px!important;
                                          -o-object-fit: cover;
                                          object-fit: cover;
                                         // padding: 2px!important;
                                          width: 100%!important;
                                          aspect-ratio: 3/2;
                                          transition: all 0.35s;
                                      }

        
                                      .overlay-2{
                                          position: absolute;
                                          width: 100%;
                                          text-align: center;
                                          top: 0;
                                          left: 0;
                                         // background-image: linear-gradient(rgba(0, 25, 44,0.6), rgba(0, 25, 44,0.6));
                                          height: 100%;
                                          -webkit-transition: all 0.5s ease-in-out;
                                          -moz-transition: all 0.5s ease-in-out;
                                          transition: all 0.5s ease-in-out;
                                         // z-index: 1;
                                          opacity: 0; 
                                      }
                                      .overlay{
                                          //-webkit-transition: webkit-transition 300s;
                                          position: absolute;
                                          width: 100%;
                                          text-align: center;
                                          top: 0;
                                          left: 0;
                                          //background-image: linear-gradient(rgba(0, 25, 44,0.0), rgba(0, 25, 44,0.4));
                                          height: 100%;
                                          -webkit-transition: all 0.5s ease-in-out;
                                          -moz-transition: all 0.5s ease-in-out;
                                          transition: all 0.5s ease-in-out;
                                          
                                          opacity: 1;
                                          .book{
                                              a{
                                                 // display: inline-block;
                                                  font-weight: 600;
                                                  font-size: 16px;
                                                  text-transform: uppercase;
                                                  color: #fff;
                                                  //background: #e5b81c;
                                                  border: 1px solid #e5b81c;
                                                  box-sizing: border-box;
                                                 // border-radius: 5px;
                                                  padding: 5px 15px;
                                                  transition: all 0.3s;
                                                  white-space: nowrap;
                                                  text-align: left;
                                                  float: right;
                                                  margin-top: 10px;
                                                  margin-right: 10px;
                                                  text-decoration: none;
                                                  z-index: 9999999999999;
                                                  position: relative;
                                              }
                                          }
                                          
                                                  .content{
                                                      -webkit-transition: all 0.3s ease-in-out;
                                                      -moz-transition: all 0.3s ease-in-out;
                                                      transition: all 0.3s ease-in-out;
                                                      margin-top: 350px;
                                                      //pointer-events: none;
                                                      background-color: rgba(0, 0, 0, 0.8);
                                                      height: 100%;
                                                      &{
                                                        @media(max-width: 800px){
                                                            // margin-top: 206px;
                                                         }
                                                         @media(max-width: 426px){
                                                             margin-top: 216px;
                                                             padding: 10px;
                                                         }
                                                         @media(min-width: 427px) and (max-width: 575px){
                                                             margin-top: 250px;
                                                             padding: 10px;
                                                         }
                                                         @media(min-width: 576px) and (max-width: 767px){
                                                           margin-top: 229px;
                                                           padding: 10px;
   
                                                         }
                                                         @media(min-width: 768px) and (max-width:800px){
                                                           margin-top: 250px;
                                                           padding: 10px;
   
                                                         }
                                                         @media(min-width: 801px) and (max-width:992px){
                                                           margin-top: 355px;
                                                           padding: 10px;
   
                                                         }
                                                         @media(min-width: 993px) and (max-width:1199px){
                                                            margin-top: 355px;
                                                            padding: 10px;
    
                                                          }
                                                          @media(min-width: 1200px) and (max-width:1429px){
                                                            margin-top: 342px;
                                                            padding: 10px;
    
                                                          }
                                                          @media(min-width: 1430px) and (max-width:1529px){
                                                          
                                                            padding: 10px;
    
                                                          }
                                                          @media(min-width: 1530px){
                                                          
                                                            padding: 10px;
    
                                                          }
                                                      }
                        
                                                      .container{
                                                          
                                                              padding: 0;
                                                          
                                                          //padding: 20px;
                                                              .block{
                                                                  //padding: 2px;
                                                               //   box-shadow: 3px 5px 10px rgba(10, 10, 10, 0.1);
                                                                    //  background-color: #ffffff;
                                                                    //  border-radius: 5px;
                                                                      position: relative;
                                                                      text-align: left;
                                                              
                                                                  div.desc{
                                                                    
                                                                     .desc-main{
                                                                        display: inline-flex;  
                                                                        justify-content: space-between;
                                                                        width: 100%;
                                                                        p{
                                                                            font-family: "Baskervville", serif;
                                                                            color: #FFD28D;
                                                                            font-size: 18px;
                                                                            font-style: italic;
                                                                            font-weight: 400;
                                                                            padding: 0;
                                                                            opacity: 1;
                                                                          &{
                                                                            @media(max-width: 426px){
                                                                                font-family: "Baskervville", serif;
                                                                                color: #FFD28D;
                                                                                font-size: 17px;
                                                                                font-style: italic;
                                                                                font-weight: 400;
                                                                                padding: 0;
                                                                                opacity: 1;  
                                                                           }
                                                                           &{
                                                                            @media(min-width: 992px) and (max-width:1199px){
                                                                                display: none;
                        
                                                                              }
                                                                        }
                                                                       }
                                                                       &{
                                                                             @media(min-width: 576px) and (max-width: 767px){
                                                                                 font-size: 16px;
                    
                                                                                }
                                                                            }
                                                                        }                         
                                                                     }
                                                                      h2{
                                                                          @media(min-width: 992px) and (max-width: 1125px){
                                                                            //font-size: 35px;
                                                                              //padding-top: 8px;
                                                                              //padding-right: 13px;
                                                                          }
                                                                      
                                                                         &{
                                                                             @media(max-width: 426px){
                                                                                color: #fff;
                                                                                z-index: 9999;
                                                                                font-family: "Baskervville", sans-serif;
                                                                                margin-bottom: -14px;
                                                                                font-size: 17px;
                                                                                font-weight: bold;
                                                                                text-transform: uppercase;
                                                                                letter-spacing: 1px;
                                                                            }
                                                                            
                                                                                &{
                                                                                    @media(min-width: 576px) and (max-width: 767px){
                                                                                        font-size: 18px;
                                
                                                                                      }
                                                                                }
                                                                                &{
                                                                                    @media(min-width: 768px) and (max-width:992px){
                                                                                        font-size: 18px;
                                                                                        letter-spacing: 1px;
                                
                                                                                      }
                                                                                }
                                                                                &{
                                                                                    @media(min-width: 992px) and (max-width:1199px){
                                                                                        font-size: 15px;
                                                                                        letter-spacing: 1px;
                                
                                                                                      }
                                                                                }
                                                                                &{
                                                                                    @media(min-width: 1200px) and (max-width:1529px){
                                                          
                                                                                        font-size: 15px;
                                
                                                                                      }
                                                                                }
                                                                                &{
                                                                                    @media(min-width: 1530px){
                                                          
                                                                                        font-size: 17px;
                                
                                                                                      }
                                                                                }
                                                                            
                                                                        }
                                                                        
                                                                         // color: rgb(229, 184, 28);
                                                                        // border: 1px solid rgb(229, 184, 28);
                                                                         color: #fff;
                                                                          z-index: 9999;
                                                                          font-family: "Baskervville", sans-serif;
                                                                          //text-transform: uppercase;
                                                                         // margin-top: 340px;
                                                                          margin-bottom: -14px;
                                                                          font-size: 20px;
                                                                          font-weight: bold;
                                                                          text-transform: uppercase;
                                                                          letter-spacing: 2px;
                                                                         
                                                                         
                                                                          &:after{
                                                                              content: "";
                                                                              display: block;
                                                                              width: 100%;
                                                                              height: 100%;
                                                                              width: 35%;
                                                                              margin: 0 auto;
                                                                              padding-top: 10px;
                                                                            //  border-bottom: 3px solid white;
                                                                          }
                                                                      }
                                                                      p{
                                                                          //padding-left: 20px;
                                                                          //padding-right: 20px;
                                                                           // padding-top: 10px;
                                                                             color: #FFF;
                                                                            font-size: 16px;
                                                                            font-family: "Prompt", sans-serif;
                                                                            font-weight: 300;
                                                                            display: block;
                                                                            margin: 0 auto;
                                                                            opacity: 0.8;
                                                                      
                                                                     }
                                                                     a.book-button{
                                                                        
                                                                            color: #fff;
                                                                            text-decoration: none;
                                                                            font-family: "Prompt", sans-serif;
                                                                            font-weight: 400;
                                                                            font-style: normal;
                                                                            display: block;
                                                                            margin-top: 60px!important;
                                                                            text-transform: uppercase;
                                                                            letter-spacing: 1px;
                                                                            width: fit-content;
                                                                            border: 1px solid #fff;
                                                                            transition: .2s ease-in-out;
                                                                            padding: 5px 10px 5px 10px;
                                                                            
                                                                            z-index: 99999;
                                                                            &{
                                                                                @media(max-width: 575px){
                                                                                    margin-top: 5px!important;
                                                                                    display: none;
                                                                                }
                                                                            }
                                                                            &{
                                                                                @media(min-width: 576px) and (max-width: 800px){
                                                                                    margin-top: 5px!important;
                            
                                                                                  }
                                                                            }
                                                                            &:hover{
                                                                                border-color: #FFD28D;
                                                                                background-color: #FFD28D;
                                                                                color: #051114;
                                                                                font-weight: bold;
                                                                            }
                                                                        
                                                                     }
                                                                  }
                                                                 
                                                              }
                                                      }
                                                  }
                                          
                                      }
                                  
                                  }
                                  .desc-field{
                                      .content{
                                          .container{
                                              padding: 10px;
                                              .block{
                                                
                                                      h2{
                                                       color: #454544;
                                                       font-family: "Marcellus SC", serif;
                                                       text-align: left;
                                                      }
                                                      span{
                                                          svg{
                                                              margin-top: -9px;
                                                              margin-right: 4px;
                                                          }
                                                          //color: $primary-bg;
                                                         font-family: 'Montserrat', sans-serif;
                                                          line-height: 2;
                                                          font-size: 16px;
                                                          -webkit-line-clamp: 2;
                                                          -webkit-box-orient: vertical;
                                                           display: -webkit-box;
                                                           overflow: hidden;
                                                           text-align: left;
                                                          @media(max-width: 768px){
                                                              //display: none;
                                                          }
                                                    
                                                      }
                                                 
                                                  

                                              }
                                          }

                                      }
                                  }
  
                              }
                          

                      }

                   }


              }
          }

      }
}

.about-main{
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url("../../images/rest-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .cont{
        max-width: 1320px;
        margin: 0 auto;
        .row{
            margin: 0;
            .col-sm-6{
                &{
                    @media(min-width: 576px) and (max-width: 991px){
                        flex: 0 0 100%;
                        max-width: 100%;
                       
                    }
                }
                h2{
                    font-family: "Baskervville", serif;
                    color: #FFD28D;
                    font-size: 25px;
                    font-style: italic;
                    font-weight: 400;
                }
                h1{
                    color: #fff;
                    font-family: "Baskervville", sans-serif;
                    font-style: normal;
                    font-weight: 300;
                   // padding-bottom: 40px;
                    font-size: 60px;
                    text-transform: unset;
                    span{
                        color: #FFD28D;
                    }
                    &{
                        @media(max-width: 575px){
                            font-size: 40px;
                        
                        }
                    }
                }
                p{
                        color: #FFF;
                        font-size: 16px;
                        font-family: "Prompt", sans-serif;
                        font-weight: 300;
                        display: block;
                        margin: 0 auto;
                        opacity: 0.8;    
                }
                a{
                    color: #fff;
                    text-decoration: none;
                    font-family: "Prompt", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    display: block;
                    margin-top: 60px!important;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    width: fit-content;
                    border-top: 1px solid rgb(255, 210, 141);
                    border-bottom: 1px solid rgb(255, 210, 141);
                    padding: 10px;
                    margin: 0;
                }
            }
        }
    }
}
.tours-main{
    position: relative;
        .youtube-iframe{
            width: 100%;
            height: 795px;
            &{
                @media(max-width: 767px){
                    display: none;
                }
            }
            &{
                @media(min-width: 768px) and (max-width: 991px){
                    height: 324px;
                }
            }
            &{
                @media(min-width: 992px) and (max-width: 1199px){
                    height: 503px;
                }
            }
            &{
                @media(min-width: 1200px) and (max-width: 1529px){
                    height: 570px;
                }
            }
        }
        span{
            .gatsby-image-wrapper{
                &{
                    @media(min-width: 768px){
                        display: none;
                    }
                }
            }
        }
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
        }
        .absolute-content{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            padding-top: 200px;
            &{
                @media(min-width: 768px) and (max-width: 991px){
                    padding-top: 24px;
                }
            }
            &{
                @media(max-width: 767px){
                    padding-top: 24px;
                }
            }
            &{
                @media(min-width: 992px) and (max-width: 1199px){
                    padding-top: 100px;
                }
            }
            &{
                @media(min-width: 1200px) and (max-width: 1529px){
                    padding-top: 100px;
                }
            }
            h2{
                font-family: "Baskervville", serif;
                color: #FFD28D;
                font-size: 25px;
                font-style: italic;
                font-weight: 400;
                &{
                    @media(max-width: 575px){
                        font-size: 20px;
                    
                    }
                }
            }
            h1{
                color: #fff;
                font-family: "Baskervville", sans-serif;
                font-style: normal;
                font-weight: 300;
               // padding-bottom: 40px;
                font-size: 60px;
                text-transform: unset;
                span{
                    color: #FFD28D;
                }
                &{
                    @media(max-width: 575px){
                        font-size: 27px;
                    
                    }
                }
                &{
                    @media(min-width: 576px) and (max-width: 991px){
                        font-size: 50px;
                    
                    }
                }
                
            }
            p{
                color: #FFF;
                font-size: 16px;
                font-family: "Prompt", sans-serif;
                font-weight: 300;
                display: block;
                margin: 0 auto;
                opacity: 0.8;    
                &{
                    @media(max-width: 991px){
                        display: none;
                    }
                }
             }
         }
         .tours-header{
            background-color: #040D10;
            margin-top: -60px;
            position: relative;
            z-index: 9;
            padding: 20px;
            span{
                max-width: 1300px;
                margin: 0 auto;
                position: relative;
                display: block;
                padding-top: 20px;
                padding-bottom: 20px;
                h1{
                    color: #fff;
                font-family: "Baskervville", sans-serif;
                font-style: normal;
                font-weight: 300;
               // padding-bottom: 40px;
                font-size: 40px;
                text-transform: unset;
                }
                h2{
                    font-family: Baskervville, serif;
                    color: rgb(255, 210, 141);
                    font-size: 25px;
                    font-style: italic;
                    font-weight: 400;
                    .fa{
                        padding-left: 10px;
                        padding-top: 2px;
                        font-size: 18px;
                    }
                }
            }
         }
         .row.two{
            margin: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 2;
            top: 0;
            
            &{
                @media(min-width: 992px){
                    background-color: rgba(0,0,0,.4);
                }
            }
            .column:last-child{
                border-right: none;
        
            }
            a{
                text-decoration: none;
            }
            .column{
                text-align: center;
                border-right: 1px solid rgba(255,255,255,.3);
                padding-top: 20px;
                cursor: pointer;
                &:hover .absolute-content:after{
                    height: 20%;
                }
                .absolute-content{
                    padding: 10px;
                    padding-top: 40px!important;
                    h2{
                        font-family: "Baskervville", serif;
                        color: #FFD28D;
                        font-size: 25px;
                        font-style: italic;
                        font-weight: 400;
                    }
                    h1{
                        color: #fff;
                        z-index: 9999;
                        font-family: "Baskervville", sans-serif;
                        margin-bottom: -14px;
                        font-size: 20px;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        @media(min-width: 576px) and (max-width: 767px){
                            font-size: 28px;
                        }
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 0;
                        background-color: #051114;
                        z-index: -1;
                        -webkit-transition: all .4s;
                        transition: all .4s;
                    }
                }
            }
          }
        .column {
            float: left;
            width: 25%;
            padding: 10px;
            position: relative;
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

            @media(max-width: 991px){
                width: 50%;
                border-top: 1px solid rgba(255,255,255,.3);
            }
          } 
          @media(max-width: 575px){
          .column:first-child{
            border-top: none;
          }
          .column:nth-child(2){
            border-top: none;
            border-right: none!important;
          }
        }
          /* Clear floats after the columns */
          .row.two:after {
            content: "";
            display: table;
            clear: both;
          }
          
          /* The expanding image container */
          .homeMain {
            position: relative;
            //max-width: 1500px;
            margin: 0 auto;
            height: 800px;
            margin-top: -10px;
            overflow: hidden;
            z-index: 99;
         
        
            .expanded-container {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
              
              }
              
              .background-image {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-size: cover;
                background-position: center;
                opacity: 0;
                transform: scale(1);
                transition: opacity 0.9s ease, transform 0.9s ease;
                z-index: 0;
              }
              
              .background-image.active {
                opacity: 1;
                z-index: 1;
              }
              
              .zoom-animation {
               // animation: zoomIn 13s ease-in-out forwards;
              }
              
           }
}

.facilities-main{
    background-color: #051114;
    padding-top: 40px;
    padding-bottom: 80px;
    .cont{
        .title{
            text-align: center;
            padding-bottom: 40px;
            h2{
                font-family: "Baskervville", serif;
                color: #FFD28D;
                font-size: 25px;
                font-style: italic;
                font-weight: 400;
            }
            h1{
                    color: #FFD28D;
                    font-family: "Baskervville", sans-serif;
                    font-style: normal;
                    font-weight: 300;
                   // padding-bottom: 40px;
                    font-size: 60px;
                    text-transform: unset; 
                    &{
                        @media(max-width: 575px){
                            font-size: 40px;
                            padding-bottom: 20px;
                        } 
                    }
            }
        }
        .row{
            max-width: 1320px;
            margin: 0 auto;
            .col-sm-4{
                border-right: 1px solid rgb(255, 210, 141, 0.3);
                padding: 30px;
                transition: all .5s ease-in-out;
                &{
                    @media(max-width: 575px){
                        border: unset!important;
            
                    }
                }
                &:hover{
                    background-color: rgb(255, 210, 141, 0.1);
                }
                a{
                    .cont-icon{
                        .fa{
                            color: #FFD28D;
                            font-size: 20px;
                        }
                    }
                    &:hover{
                        text-decoration: unset;
                    }
                    .cont-desc{
                        h2{
                            color: #FFF;
                            font-family: "Baskervville", serif;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 26px;
                            margin-top: 10px;
                            margin-bottom: 25px;
                            span{
                                color: #FFD28D;
                            }
                        }
                        p{
                            color: #FFF;
                            font-size: 16px;
                            font-family: "Prompt", sans-serif;
                            font-weight: 300;
                            display: block;
                            margin: 0 auto;
                            opacity: 0.8;
                        }
                    }
                }
                &:last-child{
                    border: none;
                }
            }
        }
        hr{
            border-top: 1px solid rgb(255, 210, 141, 0.3);
            margin: 0;
            &{
                @media(max-width: 575px){
                   display: none;
        
                }
            }
        }
    }
}
.services-main{
    background-color: #040D10;
    padding-top: 80px;
    padding-bottom: 20px;
    &{
        @media(max-width: 575px){
        
            padding-top: 20px;
        }
    }
    .service-header{
        max-width: 1320px;
        margin: 0 auto;
        h2{
                font-family: "Baskervville", serif;
                color: #FFD28D;
                font-size: 20px;
                font-style: italic;
                font-weight: 400;
        }
        h1{
                    color: #FFD28D;
                    font-family: "Baskervville", sans-serif;
                    font-style: normal;
                    font-weight: 300;
                   // padding-bottom: 40px;
                    font-size: 50px;
                    text-transform: unset;
                    &{
                        @media(max-width: 575px){
                            font-size: 40px;
                        
                        }
                    }
        }
        p{
                            color: #FFF;
                            font-size: 16px;
                            font-family: "Prompt", sans-serif;
                            font-weight: 300;
                            display: block;
                            margin: 0 auto;
                            opacity: 0.8;
        }
    }
    .row{
        margin: 0px;
        padding-top: 80px;
        .col-sm-4{
           position: relative;
           &{
            @media(max-width: 575px){
                margin-top: 20px;
                }
           }
           &{
                @media(min-width: 576px) and (max-width: 767px){
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-top: 30px;
                }
           }
           &{
                @media(min-width: 768px) and (max-width: 991px){
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-top: 30px;
                }
            }
            &:hover img{
                
                transform: scale(1.2);
                
            }
            img{
                transition: .4s ease-in-out;
            }
           
           a{
              display: block;
              width: 100%;
              height: 100%;
              position: relative;
              .service-cont{
                position: absolute;
                width: 100%;
                z-index: 9;
                bottom: 0;
                padding: 30px;
                &{
                    @media(max-width: 575px){
                    
                        padding: 20px;
                    }
                }
                h1{
                    color: #FFD28D;
                    font-family: "Baskervville", serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 30px;
                    margin-top: 10px;
                    
                }
                p{
                    color: #FFF;
                    font-size: 16px;
                    font-family: "Prompt", sans-serif;
                    font-weight: 300;
                    display: block;
                    margin: 0 auto;
                    opacity: 0.8;
                }
              }
              .hero-button{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                z-index: 9;
                text-align: right;
                background: linear-gradient(80deg, rgb(3, 11, 13, 1) 0%, rgb(3, 11, 13, 0) 100%);
                transition: .2s all ease-in-out;
                span{
                    background-color: #040D10;
                    padding: 15px;
                    font-family: "Baskervville", serif;
                    color: #FFD28D;
                    font-size: 18px;
                    font-style: italic;
                    font-weight: 400;
                }
              }
           }
        }
    }
}
.reviews-main{
    background-color: #051114;
    padding-top: 120px;
    padding-bottom: 80px;
    background-image: url("../../images/rev-bg.jpeg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .rev-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
    }

    &{
        @media(max-width: 575px){
            padding-top: 40px;
        }
    }
   // min-width: 1800px;
    .reviews-cont{
        max-width: 1320px;
        margin: 0 auto;
        padding: 10px;
        position: relative;
        text-align: center;

        .reviews-header{
            h1{
                    color: #FFD28D;
                    font-family: "Baskervville", serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 50px;
                    margin-top: 10px;
                    padding-bottom: 40px;
                    &{
                        @media(max-width: 575px){
                            font-size: 40px;
                        }
                    }
                    
            }
        }
        .swiper-wrapper {
            height: 300px ! Important;
        }
        .jUwzvM::before{
            right: 0px;
            background-image: linear-gradient(to right, rgba(255, 210, 141, 0.25), rgb(255, 210, 141) 50%);
        }
        .dcPmLE::before {
            right: 0px;
            background-image: linear-gradient(to left, rgba(255, 210, 141, 0.25), rgb(255, 210, 141) 50%);
        }
    }
}